<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%; background: #F4F5F6">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../2019123103121255960X60.ico"/>
    <link rel="bookmark" href="../2019123103121255960X60.ico"/>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>



    @RenderSection("featured", required: false)
    @RenderBody()


    @RenderSection("scripts", required: false)
    <div class="container-fluid xs navbar-fixed-bottom " style="background: #e64a4a;">
        <div class="row" style="height: 60px; margin-top: 5px">
            <a href="../ForeExhibition/ForeExhibitionIndex">
                <div class="col-xs-6 col-sm-6" style="text-align: center">
                    <div class="row">
                        <div class="col-md-12 btn-lg" style="margin-left: 15px; color: #fff">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="color: #fff; margin-left: 12px">
                            国际展览展会
                        </div>
                    </div>
                </div>
            </a>
            <a href="../Personal/PersonalIndex">
                <div class="col-xs-5 col-sm-6" style="text-align: center">
                    <div class="row">
                        <div class="col-md-12 btn-lg" style="margin-left: 15px; color: #fff">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="color: #fff; margin-left: 12px">
                            个人中心
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</body>
</html>
